Source: ocaml-unpack
Section: ocaml
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
 debhelper (>= 8.0.0),
 obuild,
 dh-ocaml (>= 0.9),
 ocaml-nox (>= 3.12),
 ocaml-findlib,
 libsexplib-camlp4-dev,
 camlp4-extra,
 menhir
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/unpack
Vcs-Git: git://github.com/pippijn/unpack
Vcs-Browser: https://github.com/pippijn/unpack

Package: libunpack-camlp4-dev
Architecture: any
Depends:
 libunpack-ocaml-dev,
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Perl-style type-safe pack/unpack for OCaml
 This syntax extension provides a Perl-style pack/unpack function
 for type-safe binary marshalling of simple data structures.

Package: libunpack-ocaml
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Description: Perl-style type-safe pack/unpack for OCaml
 This syntax extension provides a Perl-style pack/unpack function
 for type-safe binary marshalling of simple data structures.
 .
 This package contains the shared runtime libraries.

Package: libunpack-ocaml-dev
Architecture: any
Depends:
 ${ocaml:Depends},
 ${misc:Depends},
 ${shlibs:Depends}
Provides: ${ocaml:Provides}
Recommends: ocaml-findlib
Description: Perl-style type-safe pack/unpack for OCaml
 This syntax extension provides a Perl-style pack/unpack function
 for type-safe binary marshalling of simple data structures.
